:root {
  --input-container-color: #595f65;
  --output-container-color: #ffffff;
  --button-color: #ff844f;
  --button-hover-color: #d96730;
  --background-color: #f8f9fa;
  --text-color: black;
  --number-color: #878b8e;
  --title-color: #072ac8;
  --male-badge-color: #197ccd;
  --female-badge-color: #ed2190;
  --genderless-badge-color: #cccccc;

  --Normal: #c18cba;
  --Fire: #ef271b;
  --Water: #4361ee;
  --Electric: #ffbf00;
  --Grass: #16c172;
  --Ice: #90e0ef;
  --Fighting: #c75000;
  --Poison: #6e44ff;
  --Ground: #885629;
  --Flying: #8b9cad;
  --Psychic: #db00b6;
  --Bug: #059669;
  --Rock: #63320b;
  --Ghost: #9a54a1;
  --Dark: #434649;
  --Steel: #73e2a7;
  --Fairy: #ee4268;
}

.pokedex-app {
  width: 400px;
  border-radius: 10px;
  overflow: hidden;
}

.input-container {
  background: var(--input-container-color);
  color: #fff;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
}

.input-container h1 {
  font-size: 24px;
  margin: 0 0 20px;
}

.input-container input {
  width: 80%;
  font-size: 16px;
  margin-right: 10px;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

.input-container button {
  background: var(--button-color);
  color: #000;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 40px;
  height: 40px;
}

.input-container button:hover,
.input-container button:focus {
  background: var(--button-hover-color);
}

.output-container {
  background: var(--background-color);
  color: var(--text-color);
  padding: 20px;
  border-radius: 15px;
  margin-top: 20px;
}

.output-container h2 {
  color: var(--primary-color);
  font-size: 24px;
  text-align: center;
  margin-bottom: 10px;
}

.output-container img {
  width: 150px;
  height: 150px;
  display: block;
  margin: 0 auto;
}

.output-container p {
  font-size: 16px;
  line-height: 1.5;
  margin: 10px 0;
}

.output-container p strong {
  font-weight: bold;
  color: var(--text-color);
}

.pokemon h2 {
  color: var(--number-color);
  font-size: 20px;
  text-align: center;
  margin-top: 0;
  font-weight: bold;
}

.pokemon h3 {
  color: var(--title-color);
  font-size: 24px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: bold;
}

.search-icon {
  color: white;
}

.pokemon p:last-child {
  margin-bottom: 0;
}

.input-container h1 img {
  width: 200px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.type-badge {
  color: white;
  display: inline-block;
  padding: 0px 10px;
  margin: 2px;
  border-radius: 5px;
  font-weight: bold;
}

.weakness-badge {
  color: white;
  display: inline-block;
  padding: 0px 10px;
  margin: 2px;
  border-radius: 5px;
  font-weight: bold;
}

.gender-badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  color: white;
  font-size: 16px;
  margin-right: 5px;
}

.gender-badge.male {
  background-color: var(--male-badge-color);
}

.gender-badge.female {
  background-color: var(--female-badge-color);
}

.gender-badge.genderless {
  background-color: var(--genderless-badge-color);
}
